.about-me {
  flex: 4;
  padding-right: 10%;
  z-index: 2;
}

@media only screen and (max-width: 820px) {
  .about-me {
    padding-right: 0;
  }
}

.project-container {
  background-color: "red";
  display: flex;
  gap: min(4vw, 48px);
  flex-direction: row;
}

.project-container.first {
  padding-right: min(calc(15vw - 80px), 15%);
}

.project-container.last {
  padding-left: min(calc(15vw - 80px), 15%);
}

@media only screen and (max-width: 475px) {
  .project-container {
    flex-direction: column;
  }
}

.weapon-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media only screen and (max-width: 720px) {
  .weapon-container {
    flex-direction: column;
  }
}

.highlight {
  background-color: var(--bg-highlight);
  color: var(--text-highlight);
  padding: 2px;
}

.photo-profile {
  flex: 2;
  padding: 0;
}

.photo-profile > img {
  margin: 0;
  box-shadow: 10px 10px var(--shadow-ava);
  transition: all 0.3s;
  border: 0.5px solid var(--shadow-ava);
}


.photo-profile > img:hover {
  transform: translateX(-10px) translateY(-10px);
  box-shadow: 20px 20px var(--shadow-ava);
}

.contact-button {
  color: var(--text-button);
  font-family: "Nunito Sans";
  font-weight: 500;
  background-color: var(--bg-button);
  font-size: 0.875rem;
  border: none;
  padding: 12px;
  letter-spacing: 2px;
  box-shadow: 6px 6px var(--shadow-ava);
  transition: all 0.2s;
  border: 0.5px solid var(--shadow-ava);
  text-decoration: none;
}

.contact-button:hover {
  transform: translateX(-6px) translateY(-6px);
  box-shadow: 12px 12px var(--shadow-ava);
}

.contact-button:active{
  transform: translateX(3px) translateY(3px);
  box-shadow: 3px 3px var(--shadow-ava);
}